<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>DGIWG Catalogue Service for the Web 2.0 (DGIWG CSW 2.0)</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/cat20-dgiwg10</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-${ets-code}-${version}</local-name>
        <title>DGIWG Catalogue Service for the Web 2.0 Test Suite</title>
        <description>Checks DGIWG CSW 2.0 implementations for conformance.</description>
      </suite>
      <revision>
        <name>${version}</name>
        <status>Beta</status>
        <sources>
          <source>cat20-dgiwg10/${spec-version}/ctl</source>
        </sources>
        <webdir>cat20-dgiwg10/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
